name: CityU-Hall-Laundry-Stats
services:
  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    ports:
      - 5679:5678
    environment:
      - GENERIC_TIMEZONE=Asia/Hong_Kong
      - N8N_TEMPLATES_ENABLED=false
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
    volumes:
      - n8n_data:/home/node/.n8n
      - ./n8n/workflows:/home/node/.n8n/workflows
      - ./n8n/credentials:/home/node/.n8n/credentials

  influxdb3-core:
    container_name: influxdb3-core
    image: influxdb:3-core
    ports:
      - 8181:8181
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    volumes:
      - type: bind
        source: ~/.influxdb3/core/data
        target: /var/lib/influxdb3/data
      - type: bind
        source: ~/.influxdb3/core/plugins
        target: /var/lib/influxdb3/plugins

  influxdb3-explorer:
    container_name: influxdb3-explorer
    image: influxdata/influxdb3-ui:1.6.0
    ports:
      - 8888:80
      - 8889:8888
    command:
      - --mode=admin

volumes:
  n8n_data:
  grafana_data:
  mongo_data:

